<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS UI Mask</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl as vm">
    <div class="container">
      <div class="row">
        <div class="col-6-sm col-md-12"></div>
          <h1>Angular {{vm.name}}</h1>
          <form name="productSelection">
            <div class="form-group">
             <label for="exampleInputDate">Phone</label>
              <input type="tel" 
                name="phone" class="form-control" 
                id="phone"
                ng-model="vm.phone"
                type="tel"
                required
                ui-mask="{{vm.phoneMask}}"
                phone-number="vm.phone"
                placeholder="{{vm.defaultPlaceholder}}"
                custom-placeholder 
                pholder="vm.defaultPlaceholder"
                >
            </div>
        <div class="row form-control__valiation--text"
          ng-if="!vm.isValidPhone() && productSelection.phone.$invalid === false">
          <div>
            <span class="text-danger">{{vm.messageErrorPhone}}</span>
          </div>
        </div>
        <div class="row form-control__valiation--text"
          ng-if="productSelection.phone.$invalid && (productSelection.phone.$touched || vm.submitted)">
          <div class="col-md-12">
            <span class="text-danger">Please enter your phone number</span>
          </div>
        </div>
      </br>
        <p ng-show="vm.phone">phone =  {{vm.phone}}</p>
                            <!-- <span>phone $invalid = {{productSelection.phone.$invalid}}</span>
              <span>phone isValidPhone = {{vm.isValidPhone()}}</span>
            <span ng-show="!productSelection['phone'].$valid">phone invalid</span>
            <span ng-show="productSelection.$dirty">form dirty</span>
            <span ng-show="productSelection.$invalid">form invalid</span>     
            <input type="button" class="btn btn-primary" name="btn1" value="test button" ng-disabled="productSelection.$invalid" ng-click="models.makeRequired = true;" /> -->
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
